CONTACT_SERVICE_PORT=8094
NOTIFICATION_SERVICE_PORT=8093
DOCUMENTATION_SERVICE_PORT=8092
TODO_SERVICE_PORT=8091
USER_SERVICE_PORT=8090
API_GATEWAY_PORT=8080
BOT_PORT=8081

DATABASE_USER=taskbot
DATABASE_PASSWORD=taskbot

RABBIT_MQ_USER=taskbot
RABBIT_MQ_PASSWORD=taskbot

CONTACT_SERVICE_DB_URL=jdbc:postgresql://contact-db:5432/contact_service_db
NOTIFICATION_SERVICE_DB_URL=jdbc:postgresql://notification-db:5432/notification_service_db
DOCUMENTATION_SERVICE_DB_URL=jdbc:postgresql://documentation-db:5432/documentation_service_db
TODO_SERVICE_DB_URL=jdbc:postgresql://todo-db:5432/todo_service_db
USER_SERVICE_DB_URL=jdbc:postgresql://user-db:5432/user_service_db

BOT_DB_URL=jdbc:postgresql://bot-db:5432/bot_db
BOT_DB_USERNAME=taskbot
BOT_DB_PASSWORD=taskbot
