DOCUMENTATION_SERVICE_PORT=8084
DOCUMENTATION_POSTGRES_PORT=5436
DOCUMENTATION_DB_NAME=documentation_db
DOCUMENTATION_DB_URL=jdbc:postgresql://localhost:5436/documentation_db
DOCUMENTATION_DB_USER=documentation_user
DOCUMENTATION_DB_PASSWORD=documentation_password
